
.button {
    -fx-background-color: #282828;
    -fx-background-radius: 0em;
}

.button:hover {
    -fx-background-color: #6393E7;
}

.button:pressed {
    -fx-background-color: #165ddb;
    -fx-background-radius: .5em;
}

.button:focused {
    -fx-background-color: #165ddb;
    -fx-border-color: #165ddb;
    -fx-background-radius: .5em;
}